.navDiv {
  display: grid;

  grid-template-columns: 1 1 1 1 1 1 1;
  padding: auto;
  margin: auto;
  align-items: center;
  align-content: center;
  text-align: center;
}

.list {
  padding: 5px;
}
