.mainComponentDiv{
    width: 75%;
    height: 75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    display:block;
    border: 1px solid black;
    align-content:center;
    justify-content:center;
    padding: 5%;
    margin: 5%;
    border-radius: 15px;
	overflow: hidden;
    text-align: center;
}